

@media (max-width: 1080px){

    @keyframes h2_before{
        0% {width:0px; height:1px;margin:0px auto;}
        100% {width:250px; height:3px;margin:15px auto;}
    }
    
    @keyframes h2_after{
        0% {width:0px; height:2px; margin:0px auto;}
        100% {width:350px; height:5px; margin:30px auto;}
    }
    
    @keyframes h2{
        0% {font-size:0; margin: 0;}
        100% {font-size:1.8em; margin:40 auto;}
    }

    html{
        background-color:#F0F0F0
    }

    div.content{
    
        text-align: center;
        display: block;
        margin: 0 auto;
        max-width: 35em;

        
    }
    
    p.textContent{
        font-size: 1.05em;
        font-family:'sans-serif';
        font-weight:bold;
        margin:40 auto;

    }


    p.titleContent{
        font-size: 1.8em;
        font-family:'sans-serif';
        font-weight:bold;
        margin:40 auto;

        animation-name: h2;
        animation-duration: 3s;
        animation-delay: 0s;
    }
    
    h2::before{
        content:'';
        width:250px;
        height:3px;
        background:	#A0A0A0;
        display:block;
        margin:30px auto;
    
        animation-name: h2_before;
        animation-duration: 3s;
        animation-delay: 0s;
    }


    h2::after{
        content:'';
        width:350px;
        height:5px;
        background:	#A0A0A0;
        display:block;
        margin:30px auto;
    
        animation-name: h2_after;
        animation-duration: 2s;
        animation-delay: 0s;
    }
    
    




}

@media (min-width: 1081px){

    @keyframes h2_before{
        0% {width:0px; height:1px;margin:0px auto;}
        100% {width:300px; height:3px;margin:15px auto;}
    }
    
    @keyframes h2_after{
        0% {width:0px; height:2px; margin:0px auto;}
        100% {width:450px; height:5px; margin:30px auto;}
    }
    
    @keyframes h2{
        0% {font-size:0; margin: 0;}
        100% {font-size:2.2em; margin:5 auto;}
    }

    html{
        background-color:#F0F0F0;
        
    }

    div.content{
    
        text-align: center;
        display: block;
        margin: 0 auto;
        max-width: 65em;
    
    }

    p.textContent{
        font-size: 1.85em;
        font-family:'sans-serif';
        font-weight:bold;
        margin:40 auto;
    }

    p.titleContent{
        font-size: 2.2em;
        font-family:'sans-serif';
        font-weight:bold;
        margin:5 auto;

        animation-name: h2;
        animation-duration:3s;
        animation-delay:0s;
    }

    
    h2::before{
        content:'';
        width:300px;
        height:3px;
        background:	#A0A0A0;
        display:block;
        margin:15px auto;
    
        animation-name: h2_before;
        animation-duration: 3s;
        animation-delay: 0s;
    }


    h2::after{
        content:'';
        width:450px;
        height:5px;
        background:	#A0A0A0;
        display:block;
        margin:30px auto;
    
        animation-name: h2_after;
        animation-duration: 2s;
        animation-delay: 0s;
    }


    footer{

        position:relative;
        bottom:0;
        background-color:gray;
        
        width:75vw;
        display:block;        
        margin:0 12.5vw 0;

        border-radius:30px 0 30px;
    }

    p.footer{
        text-align:center;

        font-size:1.2em;
        font-family:"Courier New";
    }
    
    
}


